.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 200px 40px;
}

.header__logo {
  width: 173px;
  height: 33px;
  margin-bottom: 40px;
}

.header__line {
  border-color: #545454;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .header {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .header__logo {
    width: 150px;
    padding: 20px 27px 0 27px;
  }

  .header__line {
    padding: auto;
  }
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 500px;
    min-width: 320px;
    padding: 28px 0 0;
    margin-bottom: 42px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 27px 32px;
  }
}
