.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  justify-content: center;
}

.popup_open {
  display: flex;
}

.popup-agregar {
  display: flex;
}

.popup__close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -50px;
  right: -50px;
}

.popup__close:hover {
  opacity: 60%;
}

.close__feed {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -50px;
  right: -50px;
}

.close__feed:hover {
  opacity: 60%;
}

.close__image {
  position: absolute;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 41px;
  right: 383px;
  z-index: 1001;
}

.close__image:hover {
  opacity: 60%;
}

.popup__form {
  background-color: #fff;
  max-width: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.register__title {
  color: #000000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 54px;
}
.register__form {
  display: flex;
  flex-direction: column;
  border: none;
  margin: auto;
  justify-content: left;
}
.popup__input {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  margin-bottom: 30px;
  color: #000000;
}
.form__about-me {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  margin-bottom: 48px;
  color: #000000;
}
.form__send {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  border: 1px solid #c4c4c4;
}

.form__send:hover {
  opacity: 80%;
}

.form__send:disabled {
  cursor: not-allowed;
  border-bottom: 1px solid red;
  opacity: 0.5; /* Hace que se vea más apagado */
}


.feed__title {
  color: #000000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 54px;
}

.feed__form {
  display: flex;
  flex-direction: column;
  border: none;
  margin: auto;
  justify-content: left;
}

.form__img-feed {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  margin-bottom: 48px;
  color: #000000;
}

.form__update {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  border: 1px solid #c4c4c4;
}

.form__update:hover {
  opacity: 80%;
}

.form__update:disabled {
  cursor: not-allowed;
  border-bottom: 1px solid red;
  opacity: 0.5; /* Hace que se vea más apagado */
}



.popup__image {
  max-width: 816px;
  max-height: 552px;
  margin: auto;
}

.image__photo {
  max-width: 816px;
  max-height: 540px;
}

.image__caption {
  max-width: 291px;
  height: 12px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

/* Estilo para los mensajes de error */
.popup__input_type_error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

/* Estilo para el borde del campo en error */
.input-error {
  border-color: red;
}


@media screen and (max-width: 500px) {
  .popup__form {
    width: 282px;
  }
  .popup__input {
    width: 238px;
  }
  .form__about-me {
    width: 238px;
  }
  .form__send {
    width: 238px;
  }
  .popup__close {
    bottom: 280px;
    left: 280px;
    position: absolute;
    top: -50px;
    left: 200px;
  }

  .form__update {
    width: 238px;
  }

  .close__feed {
    bottom: 280px;
    left: 280px;
    position: absolute;
    top: -50px;
    left: 200px;
  }

  .image__photo {
    max-width: 238px;
    max-height: 299px;
  }
  .close__image {
    bottom: 280px;
    left: 280px;
    position: absolute;
    top: -50px;
    left: 240px;
  }
}
